.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 80px 0 55px;
}

.u-section-1 .u-image-1 {
  min-height: 765px;
  background-image: url("images/pexels-aljona-ovtsinnikova-121486965-26131247.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 765px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 386px;
  height: 473px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-image-1 {
    min-height: 483px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -415px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 562px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -97px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 354px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 259px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 792px;
}

.u-section-2 .u-image-1 {
  height: 635px;
  margin: 80px 0 78px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 920px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 765px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 386px;
  height: 473px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 765px;
  background-image: url("images/pexels-y-box-1283725278-25466782.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-3 .u-image-2 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 368px;
  }

  .u-section-3 .u-image-2 {
    min-height: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: -227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 725px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-3 .u-image-2 {
    min-height: 456px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 792px;
}

.u-section-4 .u-image-1 {
  height: 635px;
  margin: 80px 0 78px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 920px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-5 .u-image-1 {
  min-height: 765px;
  background-image: url("images/pexels-kokorevas-15954326.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 765px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 386px;
  height: 473px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 631px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-5 .u-image-1 {
    min-height: 483px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 78px;
    margin-bottom: -234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 725px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 456px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 270px;
  }
}